<div class="d-flex">
  <div class="side-bar">
    <%= link_to "Hosting", dashboard_path(tab: 'hosting'), class: "side-link" %>
    <%= link_to "Accepted", dashboard_path(tab: 'accepted'), class: "side-link" %>
    <%= link_to "Pending", dashboard_path(tab: 'pending'), class: "side-link" %>
  </div>

  <div class="container container-events-tab">
    <% if params[:tab] == "hosting" %>
      <h1>Events you're hosting</h1>
      <%= render "users/events", events: @hosting %>
    <% elsif params[:tab] == "accepted" %>
      <h1>Events you've joined</h1>
      <%= render "users/events", events: @accepted %>
    <% elsif params[:tab] == "pending" || params[:tab].nil? %>
      <h1>Pending Events</h1>
      <%= render "users/events", events: @pending %>
    <% end %>
  </div>
</div>
