<div class="container">
<ul class="nav nav-tabs" id="myTab" role="tablist">

  <% @events.each do |event| %>
  <li class="nav-item">
    <a class="nav-link" id="event-<%=event.id%>-tab" data-toggle="tab" href="#event-<%=event.id%>" role="tab" aria-controls="event-<%=event.id%>" aria-selected="false">
    <%=event.title%>
    </a>
  </li>
  <% end %>
  
</ul>

<div class="tab-content" id="myTabContent">
  <% @events.each do |event| %>
    <div class="tab-pane fade <%= 'active show' if @events.first == event %>" id="event-<%=event.id%>" role="tabpanel" aria-labelledby="event-<%=event.id%>-tab">
      <%= render "events/event_tab", event: event %>
    </div>
  <% end %>
</div>