<p> <%= @event.datetime %></p>
<h1> <%= @event.title %> </h1>
<h4> Category: <%= @event.category %></h4>
<p> Hosted by <%= @event.user.email %></p>
<p> Description: <%= @event.description %></p>
<p> Where: <%= @event.venue %></p>
<p> Capacity: <%= @event.capacity %></p>
<button type="button" class="btn btn-outline-secondary">Request to join</button>
<%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
